<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subdomain Scanner</title>
    <style>
    /* CSS styles for the table */
    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #f2f2f2;
    }
    </style>
</head>
<body>
    <h1>Subdomain Scanner</h1>
    <form method="post">
        <label for="domain">Domain:</label><br>
        <input type="text" id="domain" name="domain" required><br>
        <label for="wordlist">Wordlist:</label><br>
        <input type="text" id="wordlist" name="wordlist"><br>
        <label for="output_file">Output Directory:</label><br>
        <input type="text" id="output_file" name="output_file" required><br><br>
        <input type="submit" value="Submit">
    </form>


{% if data %}
    <h1>HTTPX JSON Data</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Port</th>
                <th>URL</th>
                <th>Input</th>
                <th>Location</th>
                <th>Title</th>
                <th>Scheme</th>
                <th>Webserver</th>
                <th>Content Type</th>
                <th>Method</th>
                <th>Host</th>
                <th>Path</th>
                <th>Time</th>
                <th>IP Address</th>
                <th>Technology</th>
                <th>Words</th>
                <th>Lines</th>
                <th>Status Code</th>
                <th>Content Length</th>
                <th>Failed</th>
                <th>Page Type</th>
                <th>pHash</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.timestamp }}</td>
                <td>{{ item.port }}</td>
                <td><a href="{{ item.url }}">{{ item.url }}</a></td>
                <td>{{ item.input }}</td>
                <td><a href="{{ item.location }}">{{ item.location }}</a></td>
                <td>{{ item.title }}</td>
                <td>{{ item.scheme }}</td>
                <td>{{ item.webserver }}</td>
                <td>{{ item.content_type }}</td>
                <td>{{ item.method }}</td>
                <td>{{ item.host }}</td>
                <td>{{ item.path }}</td>
                <td>{{ item.time }}</td>
                <td>{{ item.a.0 }}</td>
                <td>{{ item.tech.0 if item.tech is defined else "none"}}</td>
                <td>{{ item.words }}</td>
                <td>{{ item.lines }}</td>
                <td>{{ item.status_code }}</td>
                <td>{{ item.content_length }}</td>
                <td>{{ item.failed }}</td>
                <td>{{ item.knowledgebase.PageType }}</td>
                <td>{{ item.knowledgebase.pHash }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if subdomains %}
    <h1>Subdomains</h1>
    <ul>
        {% for subdomain in subdomains %}
        <li>{{ subdomain }}</li>
        {% endfor %}
    </ul>
{% endif %}

</body>
</html>