<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assets monitor</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subdomain Scanner</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- DataTables JavaScript -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
</head>
<body>
    <h1>Assets Monitor</h1>
    {% if domains %}
        <form action="/" method="get">
            <select id="domain" name="domain">
                <option value="">select</option>
                {% for domain in domains %}
                    <option value="{{ domain }}">{{ domain }}</option>
                {% endfor %}
            </select><input type="submit" value="GO!">
        </form>
    {% endif %}

    <!--
    <form method="post">
        <label for="domain">Domain:</label><br>
        <input type="text" id="domain" name="domain" required><br>
        <label for="wordlist">Wordlist:</label><br>
        <input type="text" id="wordlist" name="wordlist"><br>
        <label for="output_file">Output Directory:</label><br>
        <input type="text" id="output_file" name="output_file" required><br><br>
        <input type="submit" value="Submit">
    </form>
    -->


{% if data %}
    <h1>HTTPX JSON Data</h1>
    <table id="dataTable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Port</th>
                <th>URL</th>
                <th>Input</th>
                <th>Location</th>
                <th>Title</th>
                <th>Scheme</th>
                <th>Webserver</th>
                <th>Content Type</th>
                <th>Method</th>
                <th>Host</th>
                <th>Path</th>
                <th>Time</th>
                <th>IP Address</th>
                <th>Technology</th>
                <th>Words</th>
                <th>Lines</th>
                <th>Status Code</th>
                <th>Content Length</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.timestamp }}</td>
                <td>{{ item.port }}</td>
                <td><a href="{{ item.url }}">{{ item.url }}</a></td>
                <td>{{ item.input }}</td>
                <td><a href="{{ item.location }}">{{ item.location }}</a></td>
                <td>{{ item.title }}</td>
                <td>{{ item.scheme }}</td>
                <td>{{ item.webserver }}</td>
                <td>{{ item.content_type }}</td>
                <td>{{ item.method }}</td>
                <td>{{ item.host }}</td>
                <td>{{ item.path }}</td>
                <td>{{ item.time }}</td>
                <td>{{ item.a.0 }}</td>
                <td>{{ item.tech | join(', ') if item.tech is defined else "none"}}</td>
                <td>{{ item.words }}</td>
                <td>{{ item.lines }}</td>
                <td>{{ item.status_code }}</td>
                <td>{{ item.content_length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% else %}
    <h1>Specify domain</h1>
{% endif %}

<script>
    $(document).ready(function() {
        $('#dataTable').DataTable();
    });
</script>

</body>
</html>
